<configuration>
	<runtime>
		<assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="strongDLL1" publicKeyToken="4139a2c451ef76d7" culture="" />
				<bindingRedirect oldVersion="1.0.0.0-1.0.0.1" newVersion="1.0.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>