<configuration>
  <system.runtime.remoting>
    <application name="BillingRemotingClient">
    
      <client>
        <wellknown type="BillingRemotingServer.RemoteBillingObject, BillingRemoteData" url="http://localhost:8000/RemoteBillingObject.soap" />
      </client>
      
      <channels>
        <channel ref="http" />
      </channels>
      
    </application>
  </system.runtime.remoting>
</configuration>


