<configuration>
	<runtime>
		<assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="strongDLL2A" publicKeyToken="4139a2c451ef76d7" culture="" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

