<configuration>
  <system.runtime.remoting>
    <application name="BillingRemotingServer">

      <service>
        <wellknown mode="SingleCall" type="BillingRemotingServer.RemoteBillingObject, BillingRemotingServer" objectUri="RemoteBillingObject.soap" />
      </service>


      <channels>
        <channel port="8000" ref="http" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
